body {
    display: flex;
    height: 100vh;
    margin: 0;
}

/* .sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 20px;
} */

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.content {
    flex: 1;
    padding: 20px;
}

canvas {
    width: 100%;
    height: 100%;
}

.sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 20px;
    transition: transform 0.3s; /* Thêm transition để tạo hiệu ứng mượt mà */
}

/* Lớp hidden để ẩn sidebar */
.hidden {
    transform: translateX(-250px); /* Dịch chuyển sidebar ra ngoài màn hình */
}

/* Nút hoặc biểu tượng để hiện sidebar */
#toggleSidebar {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}